[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Vercel will also read requirements.txt, but listing Flask here helps detection
flask = "*"

[requires]
python_version = "3.9"